# EDA WITH SQL - Notebook developed by Marina Lima in the IBM Data Science Course.

**Assignment: SQL Notebook for Peer Assignment**


Introduction
Using this Python notebook you will:

Understand the Spacex DataSet
Load the dataset into the corresponding table in a Db2 database
Execute SQL queries to answer assignment questions
Overview of the DataSet
SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010. SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 6.0/6.0 MB 1.9 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp39-cp39-win_amd64.whl size=1142918 sha256=e92a91dc1069a0da1fe1db7887fbc5bed51ed79e5153d7077d14d3363045502b
  Stored in directory: c:\users\marinalima.laptop-g660l5pc\appdata\local\pip\cache\wheels\5b\43\0d\de1699809f9e6aaa54a97275298fa07075cb19acc557b18955
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed sqlalchemy-1.3.9

In [ ]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas==1.1.5

In [ ]:
%sql sqlite:///my_data1.db

In [5]:
import pandas as pd

In [23]:
spacex_df = pd.read_csv("data/spacex_launch_dash.csv")

In [24]:
spacex_df.head()

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,0,677.0,F9 v1.0 B0007,v1.0

Task 1

Display the names of the unique launch sites in the space mission

In [25]:
unique_launch_sites = spacex_df['Launch Site'].unique()
print(unique_launch_sites)

['CCAFS LC-40' 'VAFB SLC-4E' 'KSC LC-39A' 'CCAFS SLC-40']

Task 2

Display 5 records where launch sites begin with the string 'CCA'

In [27]:
launch_sites_starting_with_CCA = spacex_df[spacex_df['Launch Site'].str.startswith('CCA')].head()
print(launch_sites_starting_with_CCA)

   Unnamed: 0  Flight Number  Launch Site  class  Payload Mass (kg)  \
0           0              1  CCAFS LC-40      0                0.0
1           1              2  CCAFS LC-40      0                0.0
2           2              3  CCAFS LC-40      0              525.0
3           3              4  CCAFS LC-40      0              500.0
4           4              5  CCAFS LC-40      0              677.0

  Booster Version Booster Version Category
0  F9 v1.0  B0003                     v1.0
1  F9 v1.0  B0004                     v1.0
2  F9 v1.0  B0005                     v1.0
3  F9 v1.0  B0006                     v1.0
4  F9 v1.0  B0007                     v1.0

Task 3

Display the total payload mass carried by boosters launched by NASA (CRS)

In [28]:

nasa_crs_payload_mass = spacex_df.loc[(spacex_df['Launch Site'] == 'CCAFS LC-40') & (spacex_df['Booster Version'].str.contains('B', na=False)), 'Payload Mass (kg)'].sum()
print(nasa_crs_payload_mass)

52721.0

Task 4

Display average payload mass carried by booster version F9 v1.1

In [30]:
average_payload_mass = spacex_df.loc[spacex_df['Booster Version'] == 'F9 v1.1', 'Payload Mass (kg)'].mean()
print(average_payload_mass)

2928.4